body
{
    width: 1280;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    
}

.join_body_box
{
    width: 1205px;
    height: 424px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.join_img_02
{
    width: 1280px;
    height: 300px;
}

.join_left_box
{
    width: 655px;
    height: 410px;
    background-color: #F5EEE1;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-top: 28px;
    margin-bottom: 0px;
}

.join_img_01
{
    width: 655px;
    height: 204px;
}

.join_left_container
{
    width: 558.63px;
    height: 185.311px;
    display: flex;
    flex-direction:column;
}

.join_left_small
{
    width: 515.528px;
    height: 45px;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 20px;
    

}

.join_clock
{
    width: 40.628px;
    height: 41.292px;
   
}

.join_text_01
{
    color: #000;

    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.join_address
{
    width: 41.619px;
    height: 42.299px;
    
}

.join_mark
{
    width: 40.628px;
    height: 41.292px;
    
}

.join_search
{
    width: 40.628px;
    height: 41.292px;
    
}

.join_right_box
{
    width: 510px;
    height: 171px;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    margin-right: 35px;
}

.join_text_02
{
    color: #000;
   
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.join_right_container
{
    width: 510px;
    height: 131px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F5EEE1;
    padding: 10px;
    margin-top: 5px;
}

.join_right_small
{
    width: 188px;
    height: 103px;
    display: flex;
    flex-direction: column;
    margin: 0;
   
}

.join_text_03
{
    width: 188px;
    height: 32px;
    flex-shrink: 0;
    background: #D5C19B;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top:30px;
    padding: 3px;
    
}

.join_plus
{
    width: 68px;
    height: 68px;
    margin-top: 32px;
    margin-right: 29px;
}



.join_text_04
{
    width: 445px;
    height: 36px;
    background: #D5C19B;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #FFF;

    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 472px;
    margin-top: 20px;
    padding: 2px;
}