
html{
    width: 100%;
    height: 100%;
    background-color: #EDF2C5;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.main_box{
    display:flex;
    flex-direction: column;
    /*max-width: 940px;*/

    margin-left: 160px;
    margin-right: 160px;
}

header{
   width: 1122px;
   height: 62px;
   display:flex;
   flex-direction: row;
   position:absolute;
   top:36px;
   left: 160px;
   right: 160px;
   color: #778a50;
   justify-content: space-between;
   align-items: center;
}

.vegetables{
    color: #778a50;
    font-family: sans-serif;
    line-height: 59.93px;
    font-weight: 900;
    font-size: 44px;
}

.icon{
    width: 208px;
    height: 24px;
    display: flex;
    align-items: center;
    top: 19px;
    left: 914px;
    flex-direction: row;
    justify-content:space-between;
    
}

.facebook{
    width: 24px;
    height: 24px;
    display: inline-block;
}

.insta{
    width: 24px;
    height: 24px;
    display: inline-block;
}

.line-head{
    background-color: #778a50;
    width: 1px;
    height: 24px;
    border: 1px;
    display: inline-block;
}

.text1{
    color: #778a50;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    border-radius: 3px;
    border: 1px solid #778a50;
    padding: 4px 8px;
}



.nav{
    background-color: #778a50;
    width: 1120px;
    height: 44px;
    top: 106px;
    left: 160px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    position: absolute;
    flex-shrink: 0;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 592px;
    height: 24px;
    list-style: none;
}

li{
    color: #EDF2C5;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
}

.pumkin{
    width: 1120px;
    height: 448px;
    position: absolute;
    top: 166px;
    left: 160px;
}

.box_veg
{
    width: 1120px;
    height: 201px;
    top: 646px;
    left: 160px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.veg{
    width: 528PX;
    height: 201px;
    top: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.box{
    width: 528px;
    height: 45px;
    border-radius: 3px;
    background-color: #778a50;
    display: flex;
    align-items: center;
}

.head{
    width: 92px;
    height: 24px;
    color:#EDF2C5;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    width: 92px;
    height: 24px;
    top: 10px;
    left: 30px;
    margin-left: 30px;
}

.images{
    width: 528px;
    height: 140px;
    top: 61px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.img{
    width: 165px;
    height: 140px;
}

.box_contact{
    width: 528px;
    height: 201px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.artical{
    width: 528px;
    height: 140px;
    padding: 16px;
    background-color: #F7FBDA;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 9px;
    box-sizing: border-box;

}

.class_contact{
    width: 496px;
    height: 1px;
    
    left: 16px;
    border: 1px;
    background-color: #7D7D7D;
}

.text2{
    color: #7D7D7D;
    width: 496px;
    height: 54px;
    top: 16px;
    left: 16px;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 18px;
    font-weight: 400;
    margin: 0px;
}

.footer{
    width: 1440px;
    height: 60px;
    top: 964px;
    border-radius: 3px;
    background-color: #778a50;
    position: absolute;
    display: flex;
    justify-content:center;
    align-content: center;
}

.text3{
    color: #EDF2C5;
    padding-top: 10px;
    padding-left: 569px;
    padding-right: 558px;
    padding-bottom: 21px;
    font-family:Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}